In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Original dataset has real estate data for entire japan.So filter the data on basis of Prefecture = Tokyo . 
# Reading original data containing only tokyo real estate data
df = pd.read_csv('data.csv')

In [3]:
df.head()

,No,Type,Region,MunicipalityCode,Prefecture,Municipality,DistrictName,NearestStation,TimeToNearestStation,MinTimeToNearestStation,...,Classification,Breadth,CityPlanning,CoverageRatio,FloorAreaRatio,Period,Year,Quarter,Renovation,Remarks
0,1,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,4,4.0,...,NaN,NaN,Commercial Zone,80.0,500.0,3rd quarter 2019,2019,3,Not yet,NaN
1,2,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,4,4.0,...,NaN,NaN,Commercial Zone,80.0,500.0,3rd quarter 2019,2019,3,Done,NaN
2,3,Residential Land(Land and Building),Commercial Area,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,2,2.0,...,Ward Road,4.0,Commercial Zone,80.0,500.0,2nd quarter 2019,2019,2,NaN,NaN
3,4,Residential Land(Land and Building),Commercial Area,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,1,1.0,...,Tokyo Metropolitan Road,27.0,Commercial Zone,80.0,700.0,2nd quarter 2019,2019,2,NaN,NaN
4,5,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,4,4.0,...,NaN,NaN,Commercial Zone,80.0,500.0,2nd quarter 2019,2019,2,Done,NaN

In [4]:
# Selecting only the below coloumns 
#  1   Type  : Real Estate Type               
#  2   Municipality : Municipality Name           
#  3   MinTimeToNearestStation  : Minimum time to the nearest station
#  4   FloorPlan :Floorplan              
#  5   Area : Area of the property                   
#  6   BuildingYear : Construction year
#  7   Structure : Structure of the property             
#  8   Purpose :Purpose of the property                
#  9  Year : Year of sale of the property                   
#  10  Renovation : Indicator wether renovation has been done or not            
#  11  TradePrice  : Price at which property was sold
df = df[['Type','Municipality','MinTimeToNearestStation','FloorPlan',
'Area','BuildingYear','Structure','Purpose','Year','Renovation','TradePrice']]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406575 entries, 0 to 406574
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Type                     406575 non-null  object
 1   Municipality             406575 non-null  object
 2   MinTimeToNearestStation  396236 non-null  float64
 3   FloorPlan                178131 non-null  object
 4   Area                     406575 non-null  int64
 5   BuildingYear             314296 non-null  float64
 6   Structure                318357 non-null  object
 7   Purpose                  157731 non-null  object
 8   Year                     406575 non-null  int64
 9   Renovation               166501 non-null  object
 10  TradePrice               406575 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 34.1+ MB

In [6]:
#unique entries in Type coloumn
df['Type'].unique()

array(['Pre-owned Condominiums, etc.',
       'Residential Land(Land and Building)',
       'Residential Land(Land Only)', 'Forest Land', 'Agricultural Land'],
      dtype=object)

In [7]:
#As we are considering single residential units , we will consider only 'Pre-owned Condominiums'
df = df[df['Type'] =='Pre-owned Condominiums, etc.' ]

In [8]:
#As type coloumn contains only single value we will remove that coloumn
df = df.drop('Type',axis=1)

In [9]:
#unique entries in FloorPlan coloumn
df['FloorPlan'].unique()

array(['1LDK', '3LDK', '2LDK', '1K', '1R', nan, '1DK+S', '3DK', '1DK',
       '2DK', 'Open Floor', '4LDK', '1K+S', '1LDK+S', '2K', '2LDK+S',
       'Studio Apartment', '3LDK+S', '2DK+S', '1L', '3K', '4DK', '3LDK+K',
       'Duplex', '5LDK+S', '3LK', '7LDK', '2K+S', '4LDK+S', '5LDK',
       '1R+S', '3DK+S', '1LK', '4K', '2LD', '6LDK', '2LK', '5DK', '2LK+S',
       '2LD+S', '6DK', '4DK+S', '1L+S', '6LDK+S', '3K+S', '3LD+S',
       '1LD+S', '3LD', '2D'], dtype=object)

In [10]:
#as FloorPlan value = Studio Aparment is ambigious ,
#we will delete that value from dataframe
df = df[df['FloorPlan'] != 'Studio Apartment']

In [11]:
#unique entries in Purpose coloumn
df['Purpose'].unique()

array(['House', 'Other', 'Office', nan, 'Shop'], dtype=object)

In [12]:
#as we are considering only residential real estate so we will keep only the rows where purpose ='House'
df = df[df['Purpose']=='House']

In [13]:
#as purpose coloumn only has one value , we will delete that coloumn 
df = df.drop('Purpose',axis=1)

In [14]:
#unique entries in Structure coloumn
df['Structure'].unique()

array(['RC', 'SRC', nan, 'S', 'SRC, RC', 'LS', 'SRC, S', 'RC, S', 'W'],
      dtype=object)

In [15]:
#removing the missing values from stucture coloumn
df= df[df['Structure'].isna()==False]

In [16]:
#as values 'SRC' , 'SRC,RC' , 'SRC,S' and 'RC,S' are same we will overwrite them with 'SRC'
df['Structure'].replace(to_replace=['SRC, RC','SRC, S','RC, S'],value='SRC',inplace=True)

In [17]:
#confirmign the unique entries in Structure coloumn
df['Structure'].unique()

array(['RC', 'SRC', 'S', 'LS', 'W'], dtype=object)

In [18]:
#unique entries in Renovation coloumn
df['Renovation'].unique()

array(['Not yet', 'Done', nan], dtype=object)

In [19]:
#Replacing missing values in renovation coloumn with Not yet
df['Renovation'] = df['Renovation'].fillna('Not yet')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69502 entries, 0 to 389727
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Municipality             69502 non-null  object
 1   MinTimeToNearestStation  69407 non-null  float64
 2   FloorPlan                66901 non-null  object
 3   Area                     69502 non-null  int64
 4   BuildingYear             67899 non-null  float64
 5   Structure                69502 non-null  object
 6   Year                     69502 non-null  int64
 7   Renovation               69502 non-null  object
 8   TradePrice               69502 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 5.3+ MB

In [21]:
#we will remove all the rows with missing data
df = df.dropna()

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65342 entries, 0 to 389727
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Municipality             65342 non-null  object
 1   MinTimeToNearestStation  65342 non-null  float64
 2   FloorPlan                65342 non-null  object
 3   Area                     65342 non-null  int64
 4   BuildingYear             65342 non-null  float64
 5   Structure                65342 non-null  object
 6   Year                     65342 non-null  int64
 7   Renovation               65342 non-null  object
 8   TradePrice               65342 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 5.0+ MB

In [23]:
#saving the cleaned dataset
df.to_csv('save_cleaned.csv',index=False)