In [1]:
import numpy as np
import pandas as pd

Original dataset having real estate prices for tokyo is accesible via below URL.

https://www.kaggle.com/datasets/nishiodens/japan-real-estate-transaction-prices.

※Above URL contains real estate prices for entire japan.But I will be working on just the tokyo area dataset file.

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,No,Type,Region,MunicipalityCode,Prefecture,Municipality,DistrictName,NearestStation,TimeToNearestStation,MinTimeToNearestStation,...,Classification,Breadth,CityPlanning,CoverageRatio,FloorAreaRatio,Period,Year,Quarter,Renovation,Remarks
0,1,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,4,4.0,...,NaN,NaN,Commercial Zone,80.0,500.0,3rd quarter 2019,2019,3,Not yet,NaN
1,2,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,4,4.0,...,NaN,NaN,Commercial Zone,80.0,500.0,3rd quarter 2019,2019,3,Done,NaN
2,3,Residential Land(Land and Building),Commercial Area,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,2,2.0,...,Ward Road,4.0,Commercial Zone,80.0,500.0,2nd quarter 2019,2019,2,NaN,NaN
3,4,Residential Land(Land and Building),Commercial Area,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,1,1.0,...,Tokyo Metropolitan Road,27.0,Commercial Zone,80.0,700.0,2nd quarter 2019,2019,2,NaN,NaN
4,5,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,4,4.0,...,NaN,NaN,Commercial Zone,80.0,500.0,2nd quarter 2019,2019,2,Done,NaN

Selecting only the below coloumns 

1   Type                 
2   MunicipalityCode       
3   NearestStation         
4   TimeToNearestStation   
5   FloorPlan              
6   Area                    
7   BuildingYear
8   CityPlanning
9   Purpose
10  Structure               
11  Year                    
12  Renovation             
13  TradePrice  
※Here TradePrice is the Output and rest are the input coloumns

In [4]:
df = df[['Type','MunicipalityCode','NearestStation','TimeToNearestStation','FloorPlan',\
'Area','BuildingYear','CityPlanning','Purpose','Structure','Year','Renovation','TradePrice']]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406575 entries, 0 to 406574
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Type                  406575 non-null  object
 1   MunicipalityCode      406575 non-null  int64
 2   NearestStation        404847 non-null  object
 3   TimeToNearestStation  396236 non-null  object
 4   FloorPlan             178131 non-null  object
 5   Area                  406575 non-null  int64
 6   BuildingYear          314296 non-null  float64
 7   CityPlanning          402749 non-null  object
 8   Purpose               157731 non-null  object
 9   Structure             318357 non-null  object
 10  Year                  406575 non-null  int64
 11  Renovation            166501 non-null  object
 12  TradePrice            406575 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 40.3+ MB

In [6]:
#Unique values in Rennovation coloumn 
df['Renovation'].unique()

array(['Not yet', 'Done', nan], dtype=object)

In [7]:
#Filling missing values in Rennovation coloumn with 'Not yet'
df['Renovation'] = df['Renovation'].fillna('Not yet')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406575 entries, 0 to 406574
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Type                  406575 non-null  object
 1   MunicipalityCode      406575 non-null  int64
 2   NearestStation        404847 non-null  object
 3   TimeToNearestStation  396236 non-null  object
 4   FloorPlan             178131 non-null  object
 5   Area                  406575 non-null  int64
 6   BuildingYear          314296 non-null  float64
 7   CityPlanning          402749 non-null  object
 8   Purpose               157731 non-null  object
 9   Structure             318357 non-null  object
 10  Year                  406575 non-null  int64
 11  Renovation            406575 non-null  object
 12  TradePrice            406575 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 40.3+ MB

In [9]:
#Removing the rows with missing values 
df.dropna(inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72129 entries, 0 to 389727
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Type                  72129 non-null  object
 1   MunicipalityCode      72129 non-null  int64
 2   NearestStation        72129 non-null  object
 3   TimeToNearestStation  72129 non-null  object
 4   FloorPlan             72129 non-null  object
 5   Area                  72129 non-null  int64
 6   BuildingYear          72129 non-null  float64
 7   CityPlanning          72129 non-null  object
 8   Purpose               72129 non-null  object
 9   Structure             72129 non-null  object
 10  Year                  72129 non-null  int64
 11  Renovation            72129 non-null  object
 12  TradePrice            72129 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 7.7+ MB

In [11]:
#saving cleaned data to csv file 
df.to_csv('save_cleaned.csv',index=False)